body {
  margin: 0; /* Supprimer les marges par défaut du corps de la page */
  padding: 0; /* Supprimer le rembourrage par défaut du corps de la page */
    max-width: 1920px;
    background-image: url('../public/images/wallpaper.jpg');
    image-rendering: auto;
    background-size: contain;
    background-position: center;
    image-orientation: from-image;
    background-size: cover; /* Redimensionner l'image pour couvrir l'ensemble de la page */
    background-position: center; /* Centrer l'image horizontalement et verticalement */
    background-repeat: no-repeat; /* Ne pas répéter l'image */
    height: 100%; /* Utiliser la hauteur totale de la fenêtre pour l'image */
    color: #f26f29;
    
  }